alembic==1.18.5
asttokens==3.0.2
blinker==1.9.0
click==8.4.2
decorator==5.3.1
executing==2.2.1
Flask==3.1.3
flask-marshmallow==1.5.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.5.4
gunicorn==26.0.0
importlib-metadata==6.0.0
importlib-resources==5.10.0
ipdb==0.13.9
ipython==9.15.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.20.0
Jinja2==3.1.6
Mako==1.3.12
MarkupSafe==3.0.3
marshmallow==4.3.0
marshmallow-sqlalchemy==1.5.0
matplotlib-inline==0.2.2
packaging==26.2
parso==0.8.7
pexpect==4.9.0
prompt_toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
setuptools==83.0.0
SQLAlchemy==2.0.51
stack-data==0.6.3
toml==0.10.2
traitlets==5.15.1
typing_extensions==4.16.0
wcwidth==0.8.2
Werkzeug==3.1.8
zipp==4.1.0
